{% extends 'JJE_App/_layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            <div class="row">
                <div class="twelve columns padded">
                    {{ form.team.errors }}
                    <label for="{{ form.team.id_for_label }}">Team:</label>
                    {{ form.team|attr:"class:claim_cbx" }}
                </div>
                <hr>
            </div>

            <div class="row">
                <div class="twelve columns padded">
                    {{ form.add_player.errors }}
                    <label for="{{ form.add_player.id_for_label }}">Add Player:</label>
                    {{ form.add_player|attr:"class:claim_tbx" }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns padded colwidth ">
                    {{ form.add_LW.errors }}
                    <label for="{{ form.add_LW.id_for_label }}">LW:</label>
                    {{ form.add_LW}}
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_C.errors }}
                    <label for="{{ form.add_C.id_for_label }}">C:</label>
                    {{ form.add_C}}
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_RW.errors }}
                    <label for="{{ form.add_RW.id_for_label }}">RW:</label>
                    {{ form.add_RW}}
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_D.errors }}
                    <label for="{{ form.add_D.id_for_label }}">D:</label>
                    {{ form.add_D}}
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_G.errors }}
                    <label for="{{ form.add_G.id_for_label }}">G:</label>
                    {{ form.add_G}}
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_Util.errors }}
                    <label for="{{ form.add_Util.id_for_label }}">Util:</label>
                    {{ form.add_Util}}
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns padded colwidth">
                    {{ form.add_IR.errors }}
                    <label for="{{ form.add_IR.id_for_label }}">IR:</label>
                    {{ form.add_IR}}
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="twelve columns pdroped">
                    {{ form.drop_player.errors }}
                    <label for="{{ form.drop_player.id_for_label }}">Drop Player:</label>
                    {{ form.drop_player|attr:"class:claim_tbx" }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns pdroped colwidth ">
                    {{ form.drop_LW.errors }}
                    <label for="{{ form.drop_LW.id_for_label }}">LW:</label>
                    {{ form.drop_LW}}
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_C.errors }}
                    <label for="{{ form.drop_C.id_for_label }}">C:</label>
                    {{ form.drop_C}}
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_RW.errors }}
                    <label for="{{ form.drop_RW.id_for_label }}">RW:</label>
                    {{ form.drop_RW}}
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_D.errors }}
                    <label for="{{ form.drop_D.id_for_label }}">D:</label>
                    {{ form.drop_D}}
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_G.errors }}
                    <label for="{{ form.drop_G.id_for_label }}">G:</label>
                    {{ form.drop_G}}
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_Util.errors }}
                    <label for="{{ form.drop_Util.id_for_label }}">Util:</label>
                    {{ form.drop_Util}}
                </div>
            </div>

            <div class="row">
                <div class="two columns">
                </div>
                <div class="two columns pdroped colwidth">
                    {{ form.drop_IR.errors }}
                    <label for="{{ form.drop_IR.id_for_label }}">IR:</label>
                    {{ form.drop_IR}}
                </div>
            </div>
            <hr>
            <div class="twelve columns padded">
                <input class="submitclaim_btn" type="submit" value="Submit Claim" />
            </div>
            <br>
        </form>
        <form action="/">
            <div class="twelve columns padded">
                <input type="submit" value="Cancel" />
            </div>
        </form>

    </div>
{% endblock %}