.padded {
    padding-bottom: 5px;
}

.btn_login {
    background-color: #b2dba1 !important;
}

.btn_register {
    background-color: #f7e1b5 !important;
}

.navbar {
    display: none; }

.nowrap {
    white-space: nowrap;
}

.padding-header {
    padding-top: 20px;
}


.rules_text_area {
    width: 100%;
    min-width: 250px;
    min-height: 300px;
}


/*d3*/

.chart {
    height: 100vh;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
/**/





@media (min-width: 100px) {
    /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
    }

    .navbar,
    .navbar-spacer {
        display: block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        /*border-bottom: 1px solid #eee;*/
    }

    .navbar-spacer {
        display: none;
    }

    .navbar > .container {
        width: 100%;
        text-align: center;
    }

    .navbar-list {
        list-style: none;
        margin-bottom: 0;
    }

    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    .navbar-link {
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 25px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;

    }

    .navbar-link.active {
        color: #33C3F0;
    }


    .new-claim-row {
        text-align: center;
    }

    input[class=newclaim_btn] {
        padding-left: 20%;
        padding-right: 20%;
        background-color: #d6fad3;
    }

    input[class=submitclaim_btn] {
        width: 260px;
        background-color: #d6fad3;
    }

    input[class=overclaim_btn] {
        background-color: #d4e7fa;
        /*width: 50%;*/
        /*min-width: 150px;*/
        width: 200px;
    }

    input[class=cancel_btn] {
        background-color: #e7c3c3;
        /*width: 50%;*/
        /*min-width: 150px;*/
        width: 200px;
    }

    input[class=claim_tbx], select[class=claim_cbx] {
        width: 50%;
        min-width: 260px;
    }

    /*input[class=claim_tbx] {*/
    /*width: 50%;*/
    /*min-width: 260px;*/
    /*}*/

    .hr_top {
        margin-top: 5px;
    }

    .colwidth {
        width: 25%;
    }

    .standings-row:nth-child(even) {
        background-color: #ededed;
    }

    .imgclass {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .maxvh {
    height: 70vh;
}

}

@media (min-width: 500px) {
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
    }

}

@media (min-width: 550px) {

    .colwidth {
        width: inherit;
    }

}



