<!DOCTYPE html>
<html>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 35%;
        border: 2px solid black;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    td.imgc {
        border-left: 2px solid transparent;
    }
    .imgclass {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
</style>
<body>
<table>
    <tr>
        <th>Rank</th>
        <th colspan="2">Team</th>
        <th>Total Points</th>
    </tr>
    {% for item in DATA %}
        <tr>
            <td> {{ item.2 }}</td>
            <td> {{ item.1 }}</td>
            <td class="imgc"> <img class="imgclass" src="{{ item.4 }}"></td>
            <td> {{ item.3 }}</td>
        </tr>
    {% endfor %}
</table>

<br><br>
{{ DATETIME }}
<br><br>
</body>
</html>